.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  row-gap: 3rem;
  column-gap: 3.5rem;
}

.card {
  border-radius: 1rem;
  box-shadow: 3px 3px 5px black;

  display: grid;
  grid-template-rows: auto 2rem;
}

.card:hover {
  cursor: pointer;
}

img {
  max-width: 180px;
}

.pokemon-name {
  place-self: center;
}

.loading {
  /* max-width: 180px; */
  /* min-height: 180px; */
}
