main {
  display: grid;
  grid-template-rows: 5rem auto;
  row-gap: 1.5rem;
}

.card-container {
  max-width: 90%;
  justify-self: center;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  row-gap: 2rem;
  column-gap: 5rem;
}

@media(max-width: 500px) {
  main {
    grid-template-rows: repeat(2, auto);
  }
}