main {
  display: grid;
  grid-template-rows: auto 100px;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 1.5rem;
}

.card-container {
  grid-column: 1 / 4;
}

.menu-container {
  grid-column: 1 / 2;
  text-align: right;
}

.result-container {
  grid-column: 2 / 3;
}

.score-container {
  grid-column: 3 / 4;
  text-align: left;
}
