*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  max-width: calc(1980px * 0.75);
  margin: 0 auto;
}

#root {
  display: grid;
  grid-template-rows: 5rem auto 5rem;
  row-gap: 2rem;
}

header {
  align-self: center;
}
